.logo {
  display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 250px;
    margin-bottom: 55px;
}


.navbar {
    overflow: hidden;
    background-color: white;
    max-width: 500px;
    margin-left: 712px;
    margin-right: auto;
    font-family: 'Josefin Slab', serif;

}

.navbar a {
    display: inline-block;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.dropdown {
    font-family: 'Josefin Slab', serif;
    display: inline-block;

}

.dropdown .dropbtn {
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: white;
}

.dropdown-content {
   display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
   float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #adb3bc;
}

.dropdown:hover .dropdown-content {
    display: block;
}

h1 {
    margin-left: 860px;
    margin-right: auto;
    margin-top: 50px;
    max-width: 500px;
    font-family: 'Josefin Slab', serif;

}

p {
    margin-left: auto;
    margin-right: auto;
    max-width: 610px;
    padding: 100px;
    font-family: 'Josefin Slab', serif;
    font-size: 18px;

}

footer {
    max-width: 50px;
    margin-left: 320px;
    margin-right: auto;
    margin-top: 100px;
    
}

img {
    margin-left: 37.7%;
}